:root {
	--primary-color:#00bcd4;
	--primary-color-light:#80deea;
	--primary-color-dark: #0097a7;
	--complementary-primary-color: #A71000;
	--secondary-color: #1F6BE0;
	--accent-color:#A70097;
	--default-color: #C1C8E4;
	--shadow : 0 1px 5px rgba(104,104,104,0.8);
}
* {
	box-sizing: border-box;
	font-family: verdana;
	color: black;
	font-family: 'Montserrat',Arial;
	
}

/*Style the body*/
body {
	margin:1rem;
	line-height: 1.4rem;
	color: #fff;
	/*background-color: var(--primary-color);*/
}

/*Header*/


/*Style the top navigation bar*/
.navbar {
	display: flex;
	background-color: var(--primary-color-dark);
}
/*Styling navigation bar links*/
.navbar a {
	color:white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 0.7em;
}

/*Change color on hovering over navbar*/
.navbar a:hover {
	background-color: var(--complementary-primary-color);
	color: var(--default-color);
}

/*For round profile image*/
.rounded {
	border-radius: 50%;
}
.rounded-small{
	width: 2rem;
	height: 2rem;
}
.rounded-profile{
	width: 30%;
	height: 50%;
}
/*For testing cell*/
table, th, td {
  border: 1px solid black;
  text-align: center;
}
.btn {
	background-color: var(--primary-color-light);
	color: var(--default-color);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border:0;
}

img {
	max-width: 100%;
}

.wrapper {
/*	display: grid;
	grid-gap: 0px;
	grid-template-areas: 
	'navbar navbar navbar'
	'bio-cover bio-cover bio-cover'
	'Qualifications Qualifications Option2'
	'Option3 Option3 Option3'
	;*/
	display: flex;
	flex-direction: column;
}
/*Bio-cover*/
.bio-cover {
	display: grid;
	grid-gap: 0px;
	grid-template-areas:
	'intro intro top-box-a'
	'intro intro top-box-b';
}

.top-box-a {
	grid-area: top-box-a;

}

.top-box-b {
	grid-area: top-box-b;
}

.top-box-a > h4 {
	text-align: center;
}

.top-box-b > h4 {
	text-align: center;
}
.membership {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.membership a {
	color:white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 0.7em;
}

.membership a:hover {
	background-color: var(--complementary-primary-color);
	color: var(--default-color);
}

.intro {
	grid-area: intro;
	align-items: stretch;
	/*Rather than grid, covering intro grid section with card layout*/
	/*grid-area: intro;
	min-height: 400px;
	background-color: var(--primary-color);
	padding:3rem;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	box-shadow: var(--shadow);*/
	border:0px;
	margin: 0px;
	width: auto;
	text-align: center;

}

.intro>img{
	padding: 0.3rem;
	margin: 1rem;
}

.intro h2 {
	font-size: 1.2rem;
	color: var(--default-color);
}
.intro p {
	font-size: 0.8rem;
	margin: 1rem;
	color: var(--default-color);

}


/*.top-box {
	background: var(--default-color);
	display: grid;
	align-items: center;
	justify-content:center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
}*/

/*Qualifications Section*/
.qualifications {
	display: flex;
	flex-direction: column;
}

.area-header {
	background-color: var(--primary-color-light);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
  }
  .bio-cover {
  	grid-template-areas:
  	'intro intro'
  	'top-box-a top-box-b';
  }
  .membership {
  	flex-direction: column;

  }
}

@media screen and (max-width: 500px){
	.navbar {
		flex-direction: column;
	}
	.bio-cover {
		grid-template-areas:
		'intro'
		'top-box-a'
		'top-box-b';
	}

}

.test {
	border: 2px solid red;
}



